/* font@google */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

/* ============================ */
/* 	reset
/* ============================ */

body, p, figure, figcaption, form, input, textarea, button, select {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture * {
  font-style: italic;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}


/* ============================ */
/* 	base
/* ============================ */

:root {
  --baseColor: #fefefe;
  --subColor: #393e46;
  --bgColor: #222831;
  --whiteColor: #fefefe;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fefefe;
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif, 'Noto Color Emoji';
  line-height: 1.8;
  background-color: var(--bgColor);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.drag_area::before,
.drag_area::after {
  content: '';
  width: 100vw;
  height: calc((100vh - 155px) / 2);
  position: absolute;
  inset-inline: 0;
  display: inline-block;
  -webkit-app-region: drag;
}

.drag_area::before {
  top: 0;
}

.drag_area::after {
  bottom: 0;
}

.wrapper {
  padding-inline: 5%;
  width: 100%;
  height: 155px;
  position: relative;
}

.wrapper::before,
.wrapper::after {
  content: '';
  width: 5%;
  height: 100%;
  position: absolute;
  inset-block: 0;
  display: inline-block;
  -webkit-app-region: drag;
}

.wrapper::before {
  left: 0;
}

.wrapper::after {
  right: 0;
}

.wrapper #result {
  padding: 0.25em;
  font-size: 0.85em;
  border-radius: 0 0 0 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper #result.posting {
  background-color: var(--bgColor);
}

.wrapper #result.success {
  background-color: #1f7d53;
}

.wrapper #result.error {
  background-color: #be3144;
}


/* ============================ */
/* 	form
/* ============================ */

input, textarea, button, select {
  color: var(--subColor);
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif, 'Noto Color Emoji';
  line-height: 1.6;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

input,
textarea {
  padding: 0.25em;
  background-color: var(--whiteColor);
  border: 1px solid var(--subColor);
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
}

input::placeholder,
textarea::placeholder {
  color: #bbb;
}

button {
  padding: 0.5em 1em;
  color: var(--baseColor);
  background-color: var(--subColor);
  border: 1px solid var(--subColor);
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  color: var(--subColor);
  background-color: var(--whiteColor);
}
